<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Parking</title>
</head>
<body>
<div layout:fragment="parkingcontent" th:remove="tag">
     <th:block th:each="parking : ${parkingList}">
       <p th:text="${welcomeMessage}" class="parkingclass"></p>
                <div class="parkingclass">
                            <p>Numer :</p>
                            <p th:text="${parking.id}"></p>
                            <p>Ilość wolnych miejsc : </p>
                            <b><p th:text="${parking.parkingPlace}"></p></b>
                            <p>Data i godzina odczytu : </p>
                            <p th:text="${parkingData}"></p>

                    <form th:action="@{/home}" method="get" class="buttons">
                        <button class="btn btn-lg btn-primary btn-block" type="Submit">Odświeżanie</button>
                    </form>
                    <form th:action="@{/logout}" method="get" class="buttons">
                        <button class="btn btn-sm btn-primary btn-block" type="Submit">Wyloguj się</button>
                    </form>
                </div>

            </th:block>
</div>
</body>
</html>